

/* line 56, ../../../src/scss/screen.scss */
html,
body,
button,
input,
select,
textarea {
  font-size: 18px;
  word-spacing: 1px;
  line-height: 24px;
  font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  color: #6b6b6b;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}



/* line 62, ../../../src/scss/_utils.scss */
.grid-2 {
  width: 120px;
}
/* line 65, ../../../src/scss/_utils.scss */
.grid-2.large {
  width: 150px;
}
/* line 1308, ../../../src/scss/screen.scss */
.chart.grid-2 {
  width: 120px;
  margin-right: 14px;
  margin-left: 14px;
}
@media screen and (max-width: 1016px) {
  /* line 2281, ../../../src/scss/screen.scss */
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-mobile,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-mobile-i-block {
    display: none !important;
  }
  /* line 2285, ../../../src/scss/screen.scss */
  html body .mq-small {
    display: block !important;
  }
  /* line 2289, ../../../src/scss/screen.scss */
  html body .mq-small-i-block {
    display: inline-block !important;
    *display: inline !important;
  }

  /* line 51, ../../../src/scss/_utils.scss */
  .container {
    width: 984px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-1 {
    width: 41.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-1.large {
    width: 51.875px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-2 {
    width: 103px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-2.large {
    width: 128.75px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-3 {
    width: 164.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-3.large {
    width: 205.625px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-4 {
    width: 226px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-4.large {
    width: 282.5px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-5 {
    width: 287.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-5.large {
    width: 359.375px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-6 {
    width: 349px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-6.large {
    width: 436.25px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-7 {
    width: 410.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-7.large {
    width: 513.125px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-8 {
    width: 472px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-8.large {
    width: 590px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-9 {
    width: 533.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-9.large {
    width: 666.875px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-10 {
    width: 595px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-10.large {
    width: 743.75px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-11 {
    width: 656.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-11.large {
    width: 820.625px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-12 {
    width: 718px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-12.large {
    width: 897.5px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-13 {
    width: 779.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-13.large {
    width: 974.375px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-14 {
    width: 841px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-14.large {
    width: 1051.25px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-15 {
    width: 902.5px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-15.large {
    width: 1128.125px;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-16 {
    width: 964px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-16.large {
    width: 1205px;
  }

  /* line 2297, ../../../src/scss/screen.scss */
  .container {
    width: 840px;
  }

  /* line 2301, ../../../src/scss/screen.scss */
  #nav p {
    width: 87px;
  }
  /* line 2304, ../../../src/scss/screen.scss */
  #nav p.logo {
    width: 100px;
  }

  /* line 2310, ../../../src/scss/screen.scss */
  .list-hex-grid.large div.hex,
  .list-hex-grid div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 190px;
    margin-top: 37px;
    margin-bottom: 37px;
  }
  /* line 162, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div,
  .list-hex-grid div.hex > a,
  .list-hex-grid div.hex > div {
    height: 110px;
    line-height: 220px;
  }
  /* line 168, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .inner,
  .list-hex-grid div.hex .inner {
    top: -55px;
  }
  /* line 173, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before,
  .list-hex-grid div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-2:before {
    height: 220px;
    width: 220px;
  }
  /* line 178, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(-110px, 0);
    -moz-transform: rotate(-60deg) translate(-110px, 0);
    -ms-transform: rotate(-60deg) translate(-110px, 0);
    -o-transform: rotate(-60deg) translate(-110px, 0);
    transform: rotate(-60deg) translate(-110px, 0);
  }
  /* line 182, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-2:before,
  .list-hex-grid div.hex .hex-2:before {
    -webkit-transform: rotate(60deg) translate(40px, 40px);
    -moz-transform: rotate(60deg) translate(40px, 40px);
    -ms-transform: rotate(60deg) translate(40px, 40px);
    -o-transform: rotate(60deg) translate(40px, 40px);
    transform: rotate(60deg) translate(40px, 40px);
  }
  /* line 2317, ../../../src/scss/screen.scss */
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div,
  .list-hex-grid div.hex > a,
  .list-hex-grid div.hex > div {
    font-size: 12px;
    -webkit-background-size: auto 220px;
    -moz-background-size: auto 220px;
    -o-background-size: auto 220px;
    background-size: auto 220px;
  }

  /* line 2323, ../../../src/scss/screen.scss */
  .list-hex-grid.small div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 148px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  /* line 162, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex > a,
  .list-hex-grid.small div.hex > div {
    height: 85px;
    line-height: 170px;
  }
  /* line 168, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .inner {
    top: -42.5px;
  }
  /* line 173, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-1:before,
  .list-hex-grid.small div.hex .hex-2:before {
    height: 170px;
    width: 170px;
  }
  /* line 178, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(-85px, 0);
    -moz-transform: rotate(-60deg) translate(-85px, 0);
    -ms-transform: rotate(-60deg) translate(-85px, 0);
    -o-transform: rotate(-60deg) translate(-85px, 0);
    transform: rotate(-60deg) translate(-85px, 0);
  }
  /* line 182, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-2:before {
    -webkit-transform: rotate(60deg) translate(31px, 31px);
    -moz-transform: rotate(60deg) translate(31px, 31px);
    -ms-transform: rotate(60deg) translate(31px, 31px);
    -o-transform: rotate(60deg) translate(31px, 31px);
    transform: rotate(60deg) translate(31px, 31px);
  }

  /* line 2331, ../../../src/scss/screen.scss */
  .list-blocks div.hex.grid-7 {
    width: 380px;
  }

  /* line 2335, ../../../src/scss/screen.scss */
  #footer {
    margin-top: 120px;
  }
}

@media screen and (max-width: 898px) {
  /* line 86, ../../../src/scss/_utils.scss */
  .container {
    width: 90%;
  }

  /* line 97, ../../../src/scss/_utils.scss */
  .grid-1, .grid-2,
  .grid-3, .grid-4,
  .grid-5, .grid-6,
  .grid-7, .grid-8,
  .grid-9, .grid-10,
  .grid-11, .grid-12,
  .grid-13, .grid-14,
  .grid-15, .grid-16 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 102, ../../../src/scss/_utils.scss */
  .grid-1.large, .grid-2.large,
  .grid-3.large, .grid-4.large,
  .grid-5.large, .grid-6.large,
  .grid-7.large, .grid-8.large,
  .grid-9.large, .grid-10.large,
  .grid-11.large, .grid-12.large,
  .grid-13.large, .grid-14.large,
  .grid-15.large, .grid-16.large {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 2351, ../../../src/scss/screen.scss */
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-small,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-small-i-block {
    display: none !important;
  }
  /* line 2355, ../../../src/scss/screen.scss */
  html body .mq-mobile {
    display: block !important;
  }
  /* line 2359, ../../../src/scss/screen.scss */
  html body .mq-mobile-i-block {
    display: inline-block !important;
    *display: inline !important;
  }

  /* line 2365, ../../../src/scss/screen.scss */
  .section {
    margin-top: 115px;
  }
  /* line 2368, ../../../src/scss/screen.scss */
  .section.slim {
    margin-top: 75px;
  }

  /* line 2374, ../../../src/scss/screen.scss */
  hr.center.grid-2 {
    width: 120px;
  }

  /* line 2380, ../../../src/scss/screen.scss */
  .list-hex-grid > br {
    display: none !important;
  }
  /* line 2388, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex .hex-1,
  .list-hex-grid div.hex .hex-2,
  .list-hex-grid div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-2:before {
    display: none !important;
  }
  /* line 2393, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex > a,
  .list-hex-grid div.hex > div {
    padding: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: visible;
  }
  /* line 2399, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex.inline-bg {
    overflow: hidden;
  }
  /* line 2403, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex.inline-bg > a,
  .list-hex-grid div.hex.inline-bg > div {
    overflow: hidden;
  }
  /* line 2407, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex.inline-bg img {
    top: 9%;
    left: 12%;
    max-width: 75%;
  }
  /* line 2418, ../../../src/scss/screen.scss */
  .list-hex-grid.mobile-centred-imgs > li > a,
  .list-hex-grid.mobile-centred-imgs > li > div {
    padding: 0;
    height: 210px;
  }
  /* line 2424, ../../../src/scss/screen.scss */
  .list-hex-grid.mobile-centred-imgs img {
    vertical-align: middle;
  }

  /* line 2442, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex,
  .list-hex-grid.large div.hex,
  .list-hex-grid.mid div.hex,
  .list-hex-grid.small div.hex {
    width: 46.5%;
    margin: 1.75%;
  }
  /* line 2448, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex > a,
  .list-hex-grid div.hex > div,
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div,
  .list-hex-grid.mid div.hex > a,
  .list-hex-grid.mid div.hex > div,
  .list-hex-grid.small div.hex > a,
  .list-hex-grid.small div.hex > div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 8px;
  }
  /* line 2452, ../../../src/scss/screen.scss */
  .list-hex-grid div.hex > a.flex,
  .list-hex-grid div.hex > div.flex,
  .list-hex-grid.large div.hex > a.flex,
  .list-hex-grid.large div.hex > div.flex,
  .list-hex-grid.mid div.hex > a.flex,
  .list-hex-grid.mid div.hex > div.flex,
  .list-hex-grid.small div.hex > a.flex,
  .list-hex-grid.small div.hex > div.flex {
    font-size: 14px;
  }

  /* line 2459, ../../../src/scss/screen.scss */
  .list-icon-items {
    margin-top: 0;
  }
  /* line 2464, ../../../src/scss/screen.scss */
  .list-icon-items.large-margins > li, .list-icon-items.no-margins > li,
  .list-icon-items > li {
    width: 46.5%;
    margin: 40px 1.75% 0;
  }
  /* line 2469, ../../../src/scss/screen.scss */
  .list-icon-items .button {
    display: none;
  }

  /* line 2474, ../../../src/scss/screen.scss */
  #footer .list-icon-items > li {
    width: 100%;
    margin: 0;
  }

  /* line 2480, ../../../src/scss/screen.scss */
  .list-blocks.instagram > li {
    width: auto;
  }

  /* line 2485, ../../../src/scss/screen.scss */
  .subsection {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #6a6a65;
  }

  /* line 2491, ../../../src/scss/screen.scss */
  .form-el {
    margin-top: 1em;
  }
  /* line 2494, ../../../src/scss/screen.scss */
  .form-el:first-child {
    margin-top: 0;
  }

  /* line 2499, ../../../src/scss/screen.scss */
  .list-mobile-spacing > li {
    margin-top: 40px;
    margin-bottom: 0;
  }

  /* line 2504, ../../../src/scss/screen.scss */
  #nav {
    width: 300px;
  }
  /* line 2507, ../../../src/scss/screen.scss */
  #nav p {
    width: auto;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 32px;
  }
  /* line 2513, ../../../src/scss/screen.scss */
  #nav p.text-left, #nav p.text-right {
    text-align: center;
  }
  /* line 2518, ../../../src/scss/screen.scss */
  #nav p.logo {
    margin-bottom: 15px;
    width: 120px;
  }
  /* line 2526, ../../../src/scss/screen.scss */
  #nav p,
  #nav p.alpha,
  #nav p.omega {
    margin: 0;
  }
  /* line 2530, ../../../src/scss/screen.scss */
  #nav a {
    padding: 0 10px;
    border: none;
  }

  /* line 2536, ../../../src/scss/screen.scss */
  #footer {
    width: 88%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 2542, ../../../src/scss/screen.scss */
  #footer .input-wrap {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 2549, ../../../src/scss/screen.scss */
  #tagline {
    font-size: 60px;
    word-spacing: 1px;
    line-height: 70px;
    margin-top: .3em;
  }

  /* line 2555, ../../../src/scss/screen.scss */
  .list-blocks > li.grid-7 {
    width: 100%;
  }

  /* line 2559, ../../../src/scss/screen.scss */
  .list-blocks.instagram > li {
    max-width: 100%;
    height: auto;
    min-height: 200px;
  }

  /* line 2565, ../../../src/scss/screen.scss */
  #modal {
    width: 84%;
  }
  /* line 2568, ../../../src/scss/screen.scss */
  #modal .grid-7 {
    width: 100%;
    margin: 0;
  }
  /* line 2575, ../../../src/scss/screen.scss */
  #modal.wide-first .grid-7.alpha {
    width: 100%;
  }
  /* line 2579, ../../../src/scss/screen.scss */
  #modal.wide-first .grid-7.omega {
    width: 100%;
  }
  /* line 2584, ../../../src/scss/screen.scss */
  #modal.wide-first .player-hex {
    width: 65%;
    margin: 0 auto;
    padding: 30px 0 20px;
  }
  /* line 2590, ../../../src/scss/screen.scss */
  #modal.wide-first div.hex {
    width: 100%;
  }
  /* line 2594, ../../../src/scss/screen.scss */
  #modal.wide-first div.hex > a,
  #modal.wide-first div.hex > div {
    padding: 90px 0;
  }

  /* line 2604, ../../../src/scss/screen.scss */
  #modal-content .grid-7.alpha,
  #modal-content .grid-7.omega,
  #modal-footer .grid-7.alpha,
  #modal-footer .grid-7.omega {
    padding: 35px 40px;
  }
  /* line 2610, ../../../src/scss/screen.scss */
  #modal-content .grid-14.alpha,
  #modal-content .grid-14.omega,
  #modal-footer .grid-14.alpha,
  #modal-footer .grid-14.omega {
    padding: 35px 40px 0;
  }

  /* line 2616, ../../../src/scss/screen.scss */
  #modal-footer .grid-7.omega {
    display: none;
  }

  /* line 2621, ../../../src/scss/screen.scss */
  #footer {
    margin-top: 100px;
  }

  /* line 2625, ../../../src/scss/screen.scss */
  .with-labels .below {
    display: none;
  }

  /* line 2629, ../../../src/scss/screen.scss */
  #work-projects {
    margin-top: 50px;
  }

  /* line 2634, ../../../src/scss/screen.scss */
  .map-lower .grid-9 {
    padding-bottom: 0;
  }
}

/* line 160, ../../../src/scss/screen.scss */
ul, ol, dl,
p,
blockquote,
cite,
hr,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
form,
input,
fieldset,
.input-wrap,
textarea,
.margin-top-standard,
.circ {
  margin-top: 1em;
}
/* line 163, ../../../src/scss/screen.scss */
ul:first-child, ol:first-child, dl:first-child,
p:first-child,
blockquote:first-child,
cite:first-child,
hr:first-child,
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child,
h6:first-child, .h6:first-child,
form:first-child,
input:first-child,
fieldset:first-child,
.input-wrap:first-child,
textarea:first-child,
.margin-top-standard:first-child,
.circ:first-child {
  margin-top: 0;
}

/* line 287, ../../../src/scss/screen.scss */
hr {
  border: none;
  height: 1px;
  background-color: #aaaaaa;
}



/* line 237, ../../../src/scss/screen.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #181818;
}
/* line 241, ../../../src/scss/screen.scss */
h1.secondary, .h1.secondary,
h2.secondary, .h2.secondary,
h3.secondary, .h3.secondary,
h4.secondary, .h4.secondary,
h5.secondary, .h5.secondary,
h6.secondary, .h6.secondary {
  color: #ee6557;
}

/* line 246, ../../../src/scss/screen.scss */
h1, .h1 {
  font-size: 34px;
  word-spacing: 1px;
  line-height: 40px;
}



/* line 1918, ../../../src/scss/screen.scss */
#tagline {
  font-size: 84px;
  word-spacing: 1px;
  line-height: 90px;
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
  color: #181818;
  text-align: center;
  margin: .95em 0 0;
}

/* line 100, ../../../src/scss/screen.scss */
.grid-1, .grid-2,
.grid-3, .grid-4,
.grid-5, .grid-6,
.grid-7, .grid-8,
.grid-9, .grid-10,
.grid-11, .grid-12,
.grid-13, .grid-14,
.grid-15, .grid-16 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
/* line 107, ../../../src/scss/screen.scss */
.grid-1.alpha, .grid-2.alpha,
.grid-3.alpha, .grid-4.alpha,
.grid-5.alpha, .grid-6.alpha,
.grid-7.alpha, .grid-8.alpha,
.grid-9.alpha, .grid-10.alpha,
.grid-11.alpha, .grid-12.alpha,
.grid-13.alpha, .grid-14.alpha,
.grid-15.alpha, .grid-16.alpha {
  margin-left: 0;
}
/* line 111, ../../../src/scss/screen.scss */
.grid-1.omega, .grid-2.omega,
.grid-3.omega, .grid-4.omega,
.grid-5.omega, .grid-6.omega,
.grid-7.omega, .grid-8.omega,
.grid-9.omega, .grid-10.omega,
.grid-11.omega, .grid-12.omega,
.grid-13.omega, .grid-14.omega,
.grid-15.omega, .grid-16.omega {
  margin-right: 0;
}

/* line 115, ../../../src/scss/screen.scss */
.grid-1.center, .grid-2.center,
.grid-3.center, .grid-4.center,
.grid-5.center, .grid-6.center,
.grid-7.center, .grid-8.center,
.grid-9.center, .grid-10.center,
.grid-11.center, .grid-12.center,
.grid-13.center, .grid-14.center,
.grid-15.center, .grid-16.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* line 189, ../../../src/scss/screen.scss */
.pseudo-link,
a {
  -webkit-transition: all 275ms;
  -moz-transition: all 275ms;
  -o-transition: all 275ms;
  transition: all 275ms;
  cursor: pointer;
  text-decoration: none;
  color: #181818;
  border-bottom: 1px solid #16a6b6;
}
/* line 200, ../../../src/scss/screen.scss */
.pseudo-link:hover, .pseudo-link:focus, .pseudo-link:active, .pseudo-link.active,
a:hover,
a:focus,
a:active,
a.active {
  color: #22ffee;
}
/* line 203, ../../../src/scss/screen.scss */
.pseudo-link:hover .pseudo-link, .pseudo-link:focus .pseudo-link, .pseudo-link:active .pseudo-link, .pseudo-link.active .pseudo-link,
a:hover .pseudo-link,
a:focus .pseudo-link,
a:active .pseudo-link,
a.active .pseudo-link {
  color: #3300ff;
}
/* line 208, ../../../src/scss/screen.scss */
.pseudo-link.secondary,
a.secondary {
  border: none;
  color: #3300ff;
}
/* line 215, ../../../src/scss/screen.scss */
.pseudo-link.secondary:hover, .pseudo-link.secondary:focus, .pseudo-link.secondary:active, .pseudo-link.secondary.active,
a.secondary:hover,
a.secondary:focus,
a.secondary:active,
a.secondary.active {
  color: #cb2514;
}
/* line 220, ../../../src/scss/screen.scss */
.pseudo-link.disabled,
a.disabled {
  pointer-events: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/* line 812, ../../../src/scss/screen.scss */
img,
video,
object {
  display: block;
  max-width: 100%;
  height: auto;
}


/* line 1826, ../../../src/scss/screen.scss */
#header {
  margin-top: 0;
  margin-bottom: -50px;
  padding: 0;
}

/* line 1834, ../../../src/scss/screen.scss */
#header h2,
#ie6 h2 {
  margin-top: 1.5em;
  font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  line-height: 32px;
  color: #6b6b6b;
}

/* line 1841, ../../../src/scss/screen.scss */
#nav {
  margin-top: 20px;
  margin-bottom: 55px;
  text-align: center;
}
/* line 1846, ../../../src/scss/screen.scss */
#nav a {
  border-color: #6a6a65;
  padding-bottom: 5px;
  display: block;
}
/* line 1854, ../../../src/scss/screen.scss */
#nav a:hover, #nav a:active, #nav a:focus {
  border-color: #3300ff;
}
/* line 1860, ../../../src/scss/screen.scss */
#nav a.active {
  color: #ee6557;
  border-color: #ee6557;
}
/* line 1866, ../../../src/scss/screen.scss */
#nav p {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 120px;
  margin: 0 10px;
}
/* line 1872, ../../../src/scss/screen.scss */
#nav p.alpha {
  margin-left: 0;
}
/* line 1876, ../../../src/scss/screen.scss */
#nav p.omega {
  margin-right: 0;
}

@-moz-keyframes frustrated-buffalo {
  /* line 1883, ../../../src/scss/screen.scss */
  0% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 1887, ../../../src/scss/screen.scss */
  100% {
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-webkit-keyframes frustrated-buffalo {
  /* line 1883, ../../../src/scss/screen.scss */
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 1887, ../../../src/scss/screen.scss */
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-o-keyframes frustrated-buffalo {
  /* line 1883, ../../../src/scss/screen.scss */
  0% {
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 1887, ../../../src/scss/screen.scss */
  100% {
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-ms-keyframes frustrated-buffalo {
  /* line 1883, ../../../src/scss/screen.scss */
  0% {
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 1887, ../../../src/scss/screen.scss */
  100% {
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes frustrated-buffalo {
  /* line 1883, ../../../src/scss/screen.scss */
  0% {
    transform: rotate(-10deg);
  }

  /* line 1887, ../../../src/scss/screen.scss */
  100% {
    transform: rotate(10deg);
  }
}

/* line 1892, ../../../src/scss/screen.scss */
.logo {
  margin-top: -25px;
  text-indent: -999em;
}
/* line 1896, ../../../src/scss/screen.scss */
.logo a {
  padding: 0;
  border: none;
}
/* line 1900, ../../../src/scss/screen.scss */
.logo a img {
  display: block;
  height: auto;
}

/* line 1908, ../../../src/scss/screen.scss */
.not-found .logo-img {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-name: frustrated-buffalo;
  -moz-animation-name: frustrated-buffalo;
  -ms-animation-name: frustrated-buffalo;
  -o-animation-name: frustrated-buffalo;
  animation-name: frustrated-buffalo;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}



@media screen and (max-width: 1290px) {
  /* line 2128, ../../../src/scss/screen.scss */
  #work-projects .container {
    width: 89%;
  }
}
/* line 2140, ../../../src/scss/screen.scss */
html body .mq-mid,
html body .mq-small,
html body .mq-mobile,
html body .mq-mid-i-block,
html body .mq-small-i-block,
html body .mq-mobile-i-block {
  display: none !important;
}
/* line 2144, ../../../src/scss/screen.scss */
html body .mq-wide {
  display: block !important;
}
/* line 2148, ../../../src/scss/screen.scss */
html body .mq-wide-i-block {
  display: inline-block !important;
  *display: inline !important;
}

@media screen and (max-width: 1180px) {
  /* line 2167, ../../../src/scss/screen.scss */
  html body .mq-wide,
  html body .mq-small,
  html body .mq-mobile,
  html body .mq-wide-i-block,
  html body .mq-small-i-block,
  html body .mq-mobile-i-block {
    display: none !important;
  }
  /* line 2171, ../../../src/scss/screen.scss */
  html body .mq-mid {
    display: block !important;
  }
  /* line 2175, ../../../src/scss/screen.scss */
  html body .mq-mid-i-block {
    display: inline-block !important;
    *display: inline !important;
  }

  /* line 2181, ../../../src/scss/screen.scss */
  .container {
    width: 960px;
  }

  /* line 2185, ../../../src/scss/screen.scss */
  #nav p {
    width: 108px;
  }

  /* line 2190, ../../../src/scss/screen.scss */
  .list-hex-grid.large div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* line 162, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    height: 127px;
    line-height: 254px;
  }
  /* line 168, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .inner {
    top: -63.5px;
  }
  /* line 173, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before {
    height: 254px;
    width: 254px;
  }
  /* line 178, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(-127px, 0);
    -moz-transform: rotate(-60deg) translate(-127px, 0);
    -ms-transform: rotate(-60deg) translate(-127px, 0);
    -o-transform: rotate(-60deg) translate(-127px, 0);
    transform: rotate(-60deg) translate(-127px, 0);
  }
  /* line 182, ../../../src/scss/_utils.scss */
  .list-hex-grid.large div.hex .hex-2:before {
    -webkit-transform: rotate(60deg) translate(47px, 47px);
    -moz-transform: rotate(60deg) translate(47px, 47px);
    -ms-transform: rotate(60deg) translate(47px, 47px);
    -o-transform: rotate(60deg) translate(47px, 47px);
    transform: rotate(60deg) translate(47px, 47px);
  }
  /* line 2197, ../../../src/scss/screen.scss */
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    font-size: 15px;
    -webkit-background-size: auto 260px;
    -moz-background-size: auto 260px;
    -o-background-size: auto 260px;
    background-size: auto 260px;
  }
  /* line 2203, ../../../src/scss/screen.scss */
  .list-hex-grid.small div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 172px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  /* line 162, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex > a,
  .list-hex-grid.small div.hex > div {
    height: 99px;
    line-height: 198px;
  }
  /* line 168, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .inner {
    top: -49.5px;
  }
  /* line 173, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-1:before,
  .list-hex-grid.small div.hex .hex-2:before {
    height: 198px;
    width: 198px;
  }
  /* line 178, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(-99px, 0);
    -moz-transform: rotate(-60deg) translate(-99px, 0);
    -ms-transform: rotate(-60deg) translate(-99px, 0);
    -o-transform: rotate(-60deg) translate(-99px, 0);
    transform: rotate(-60deg) translate(-99px, 0);
  }
  /* line 182, ../../../src/scss/_utils.scss */
  .list-hex-grid.small div.hex .hex-2:before {
    -webkit-transform: rotate(60deg) translate(36px, 36px);
    -moz-transform: rotate(60deg) translate(36px, 36px);
    -ms-transform: rotate(60deg) translate(36px, 36px);
    -o-transform: rotate(60deg) translate(36px, 36px);
    transform: rotate(60deg) translate(36px, 36px);
  }

  /* line 2212, ../../../src/scss/screen.scss */
  .list-blocks > li.grid-7 {
    width: 440px;
  }

  /* line 2216, ../../../src/scss/screen.scss */
  #footer {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1016px) {
  /* line 2281, ../../../src/scss/screen.scss */
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-mobile,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-mobile-i-block {
    display: none !important;
  }
  /* line 2285, ../../../src/scss/screen.scss */
  html body .mq-small {
    display: block !important;
  }
  /* line 2289, ../../../src/scss/screen.scss */
  html body .mq-small-i-block {
    display: inline-block !important;
    *display: inline !important;
  }

  /* line 62, ../../../src/scss/_utils.scss */
  .grid-14 {
    width: 841px;
  }
  /* line 65, ../../../src/scss/_utils.scss */
  .grid-14.large {
    width: 1051.25px;
  }


  /* line 2301, ../../../src/scss/screen.scss */
  #nav p {
    width: 87px;
  }
  /* line 2304, ../../../src/scss/screen.scss */
  #nav p.logo {
    width: 100px;
  }
}

@media screen and (max-width: 898px) {
  /* line 86, ../../../src/scss/_utils.scss */
  .container {
    width: 90%;
  }

  /* line 97, ../../../src/scss/_utils.scss */
  .grid-1, .grid-2,
  .grid-3, .grid-4,
  .grid-5, .grid-6,
  .grid-7, .grid-8,
  .grid-9, .grid-10,
  .grid-11, .grid-12,
  .grid-13, .grid-14,
  .grid-15, .grid-16 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 102, ../../../src/scss/_utils.scss */
  .grid-1.large, .grid-2.large,
  .grid-3.large, .grid-4.large,
  .grid-5.large, .grid-6.large,
  .grid-7.large, .grid-8.large,
  .grid-9.large, .grid-10.large,
  .grid-11.large, .grid-12.large,
  .grid-13.large, .grid-14.large,
  .grid-15.large, .grid-16.large {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 2351, ../../../src/scss/screen.scss */
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-small,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-small-i-block {
    display: none !important;
  }
  /* line 2355, ../../../src/scss/screen.scss */
  html body .mq-mobile {
    display: block !important;
  }
  /* line 2359, ../../../src/scss/screen.scss */
  html body .mq-mobile-i-block {
    display: inline-block !important;
    *display: inline !important;
  }

  

  /* line 2504, ../../../src/scss/screen.scss */
  #nav {
    width: 300px;
  }
  /* line 2507, ../../../src/scss/screen.scss */
  #nav p {
    width: auto;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 32px;
  }
  /* line 2513, ../../../src/scss/screen.scss */
  #nav p.text-left, #nav p.text-right {
    text-align: center;
  }
  /* line 2518, ../../../src/scss/screen.scss */
  #nav p.logo {
    margin-bottom: 15px;
    width: 120px;
  }
  /* line 2526, ../../../src/scss/screen.scss */
  #nav p,
  #nav p.alpha,
  #nav p.omega {
    margin: 0;
  }
  /* line 2530, ../../../src/scss/screen.scss */
  #nav a {
    padding: 0 10px;
    border: none;
  }

}
@media screen and (max-width: 750px) {
  /* line 2641, ../../../src/scss/screen.scss */
  #map-find-us {
    height: 450px;
  }

  /* line 2646, ../../../src/scss/screen.scss */
  .map .info {
    top: auto;
    bottom: 20px;
    right: 20px;
    width: 55%;
  }
}



/* line 2826, ../../../src/scss/screen.scss */
.text-left {
  text-align: left !important;
}

/* line 2830, ../../../src/scss/screen.scss */
.text-right {
  text-align: right !important;
}

/* line 2835, ../../../src/scss/screen.scss */
.fonts-body {
  font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

/* line 2839, ../../../src/scss/screen.scss */
.fonts-display {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 2843, ../../../src/scss/screen.scss */
.fonts-display-secondary {
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
}

/* line 2847, ../../../src/scss/screen.scss */
.fonts-display-cnd {
  font-family: "neuzeitgroextblack", sans-serif;
  text-transform: none;
  letter-spacing: 0;
}


/* line 2922, ../../../src/scss/screen.scss */
.clearfix,
.container,
.list-hex-grid {
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after,
.container:after,
.list-hex-grid:after {
  content: "";
  display: table;
  clear: both;
}